In [1]:
# Iterate 0 to 10 using for loop, do the same using while loop.

i=0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

In [2]:
# Iterate 10 to 0 using for loop, do the same using while loop.
i=10
while i >= 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1
0

In [6]:
# write a program to print all even numbers from 0 to 50 using while loop.
# (Hint: use % operator to check for even numbers)
# Example output: 0,2,4,6,...,48,50

num = 1
while num <= 50:
    if num % 2 == 0:
        print(num)
    num += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [10]:
# write a program that prints the sum of first n natural numbers.
# for example, if n=5, the output should be 15 (1+2+3+4+5)
number = int(input("Enter a number: "))
sum = 0
i=1
while(number>=i):
    sum=sum+number
    number = number-1
print("Sum:",sum)
print("Number:",number)

Sum: 15
Number: 0

In [11]:
# Write a program to print this pattern using a while loop.
""" *
    **
    ***
    ****
    *****
"""
n = 1
while n <= 5:
    print('*' * n)
    n += 1

*
**
***
****
*****

In [12]:
# Write a loop that makes seven calls to print(), so we get on the output the following triangle:
n=1
while n <= 7:
    print('#' * n)
    n += 1

#
##
###
####
#####
######
#######

In [13]:
# Saumya want to print her name 5 times,but each time with a number in front of it.Write a program to help her do that using while loop.
count = 1
while count <= 5:
    print(f"{count}. Saumya Singh")
    count += 1

1. Saumya Singh
2. Saumya Singh
3. Saumya Singh
4. Saumya Singh
5. Saumya Singh

In [14]:
# Use nested loops to create the following:

"""
# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #
"""
count = 1
while count <= 6:
    print('# ' * 6)
    count += 1

# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #

In [15]:
# write a program to print multiplication table of a given number using for while loop.
num = int(input("Enter a number: "))
i = 1
while i <= 10:
    print(f"{num} x {i} = {num * i}")
    i += 1

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [16]:
# Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.
Languages= ['Python', 'Numpy','Pandas','Django', 'Flask']
for lang in Languages:
    print(lang)

Python
Numpy
Pandas
Django
Flask

In [17]:
# Use for loop to iterate from 0 to 100 and print only even numbers
for i in range(0, 101):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [18]:
# Use for loop to iterate from 0 to 100 and print only odd numbers
for i in range(0, 101):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [19]:
# Write a program using for and range to print all even numbers between 1 and 20.
for i in range(1,21):
    if i % 2 == 0:
        print("Even number:", i)

Even number: 2
Even number: 4
Even number: 6
Even number: 8
Even number: 10
Even number: 12
Even number: 14
Even number: 16
Even number: 18
Even number: 20

In [20]:
# Write a program to print numbers from 1 to 50 but print"Saumya singh" instead of the numbers that are multiple of 5.
for i in range(1, 51):
    if i % 5 == 0:
        print("Saumya Singh")
    else:
        print(i)

1
2
3
4
Saumya Singh
6
7
8
9
Saumya Singh
11
12
13
14
Saumya Singh
16
17
18
19
Saumya Singh
21
22
23
24
Saumya Singh
26
27
28
29
Saumya Singh
31
32
33
34
Saumya Singh
36
37
38
39
Saumya Singh
41
42
43
44
Saumya Singh
46
47
48
49
Saumya Singh

In [21]:
# Write a program to print the square of each number from 1 to 10 using a for loop.
for i in range(1, 11):
    print(f"The square of {i} is {i**2}")

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25
The square of 6 is 36
The square of 7 is 49
The square of 8 is 64
The square of 9 is 81
The square of 10 is 100

In [27]:
# Write a program that prints the multiplication table of any number entered by the user using a for loop.
m = float(input("Enter a number:"))
for i in range(1, 11):
    print(f"{m} x {i} = {m * i}")

2.0 x 1 = 2.0
2.0 x 2 = 4.0
2.0 x 3 = 6.0
2.0 x 4 = 8.0
2.0 x 5 = 10.0
2.0 x 6 = 12.0
2.0 x 7 = 14.0
2.0 x 8 = 16.0
2.0 x 9 = 18.0
2.0 x 10 = 20.0

In [28]:
# Use for loop to iterate from 0 to 100 and print the sum of all numbers.
sum = 0
for i in range(0, 101):
    sum += i   
print("Sum of all numbers from 0 to 100 is:", sum)

Sum of all numbers from 0 to 100 is: 5050

In [29]:
#Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.
sum_even = 0
sum_odd = 0
for i in range(0, 101):
    if i % 2 == 0:
        sum_even += i
    else:
        sum_odd += i
print("Sum of all even numbers from 0 to 100 is:", sum_even)
print("Sum of all odd numbers from 0 to 100 is:", sum_odd)

Sum of all even numbers from 0 to 100 is: 2550
Sum of all odd numbers from 0 to 100 is: 2500

In [30]:
#write a program that prints all numbers from 100 to 1 using for loop.
for i in range(100, 0, -1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [32]:
# saumya want to print her username five times in uppercase using for loop.
# hint use a simple loop and .upper() method
for _ in range(5):
    print("saumya singh".upper())

SAUMYA SINGH
SAUMYA SINGH
SAUMYA SINGH
SAUMYA SINGH
SAUMYA SINGH

In [33]:
# you are given a list of favorite foods.Write a program to print each food item from the list using for loop.
favorite_foods = ['Pizza', 'Sushi', 'Burger', 'Pasta', 'Ice Cream']
for food in favorite_foods:
    print(food)

Pizza
Sushi
Burger
Pasta
Ice Cream

In [34]:
# create a tuple of countries and print each country using a for loop.
countries = ('India', 'USA', 'Canada', 'Australia', 'Germany')
for country in countries:
    print(country)

India
USA
Canada
Australia
Germany

In [36]:
# Go to the data folder and use the countries.py file. Loop through the countries and extract all the countries containing the word land.
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]
for country in countries:
    if 'land' in country:
        print(country)

Finland
Iceland
Ireland
Marshall Islands
Netherlands
New Zealand
Poland
Solomon Islands
Swaziland
Switzerland
Thailand

In [41]:
# This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.
fruits = ['banana', 'orange', 'mango', 'lemon']
reversed_fruits = []
for fruit in fruits:
    reversed_fruits.insert(0, fruit)
print(reversed_fruits)

['lemon', 'mango', 'orange', 'banana']
lemon

In [44]:
# counter timer
import time

count = int(input("Enter a counter number: "))

print("Counting down:")
for i in range(count, 0, -1):
    print(i)
    time.sleep(1)
print("Countdown finished!")

Counting down:
5
4
3
2
1
Countdown finished!

In [ ]:
# Guess the number game
number_to_guess =int(input("Enter a number to guess between 1 and 10: "))
while True:
    user_guess = int(input("Your guess: "))
    if user_guess < number_to_guess:
        print("Too low! Try again.")
    elif user_guess > number_to_guess:
        print("Too high! Try again.")
    else:
        print("Congratulations! You guessed the number.")
        break

Too high! Try again.
Too high! Try again.
Too high! Try again.
Too low! Try again.
Congratulations! You guessed the number.